
.App{

    text-align: center;
    font-size: 35px;
    margin: 15%;
       
    

}

.App-title{

  color:black;
  
  font-size: 50px;
  letter-spacing: 10px;
  text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
  margin-bottom: 2%;
  text-transform: uppercase;

}



.Clock-days, .Clock-hours,.Clock-minutes,.Clock-seconds{

    display: inline;
    margin: 10px;
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);

}

.Deadline-input {
    font-size: 23px;
    margin: 10px;
  }

  .btn-custom {
    background-color: grey;
    color: white;
}

.Calender{

    display: inline;
    text-align: center;
    position: absolute;
    margin: 50px;

    margin-left: -200px;
    
    object-position: center;

    
    
}
.alender{

    display: inline;
    text-align: center;
    position: absolute;
    margin: 50px;
    margin-left: 380px;
    
    
    object-position: center;

    
    
}
.col-centered{
    float: none;
    margin: 0 auto;
    display: inline;
    Content:center;
    
}
#margin{
    margin-top: 300px;
    margin-left: 30px;

}

.vertical-center {
	min-height: 100vh;
	margin: 1px;
    display: block;
    align-items: center;
    
}



